body {
  background: green;
}

.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 640px;
  margin: 2rem auto;
  background: yellow;
  h1 {
    font-family: sans-serif;
    color: #555;
    text-align: center;
    padding-top: 1.5rem;
  }
  img {
    width: 400px;
    margin: 0 auto;
  }
}
select {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1rem;
}
// .menu {
//   display: flex;
//   flex-direction: column;
//   background: red;
//   padding: 1rem;
// }
.display {
  display: flex;
  flex-direction: column;
}
